[defaults]
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent
collections_on_ansible_version_mismatch = error
nocows = True
stdout_callback = default

[privilege_escalation]
become = False
